*{
    padding: 0;
    margin: 0;
}

header {
    background-color: khaki;
    height: 100px;
    width: 95%;
    padding: 2.5%;

}

header nav{
    display: none;
}

.menulateral{
    height: 100vh;
    width: 200px;
    background-color: bisque;
    overflow-x: hidden;
}

.menulateral ul li a{
    text-decoration: none;
}

@media screen and (max-width: 480px){
    header nav {
        display: block;
        cursor: pointer;
    }
    .menulateral{
        width: 0;
    }
}
